/* container */
.container {width: 1000px; margin: 0 auto;}

/* row */
.row {position: relative; margin: 0 20px;}

/* header */
#header .header-data {
    font-weight: 600;
    font-size: 12px;
    letter-spacing: -0.25px;
    padding-top: 30px;
    display: block;
    color: #a8a8a8;
}
#header .header-title {
    font-weight: bold;
    font-size: 32px;
    letter-spacing: -4px;
    border-bottom: 1px solid #ebebeb;
    padding-bottom: 10px;
    margin-bottom: 15px;
}
#header .header-id {
    position: absolute; right: 0; bottom: 14px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-weight: 300;
    font-size: 18px;
    color: #fff;
    /* line-height: 40px;
    text-align: center; */
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    background: linear-gradient(140.3deg, #A4A9B5 17.95%, rgba(164, 169, 181, 0) 79.1%), #C4C4C4;
}

/* bestM */
.bestM .best-title .bt-stit {font-size: 12px; font-weight: 500; color: #da5e7c;}
.bestM .best-title .bt-tit {font-size: 22px; font-weight: 600; padding-bottom: 2px;}
.bestM .best-title .bt-desc {font-size: 22px; font-weight: 300; color: #818181; margin-bottom: 12px;}

/* recentM */
.recentM {margin-top: 20px; overflow: hidden;}
.recentM .recent {float: left; width: 49%; margin-right: 2%;}
.recentM .recent:last-child {margin-right: 0;}
.recentM h2 {font-size: 20px; font-weight: 600; letter-spacing: -1px; padding-top: 20px; padding-bottom: 14px; border-top: 1px solid #ebebeb;}
.recentM .recent-title {padding-top: 10px;}
.recentM .recent-title .rt-stit {font-size: 15px; font-weight: 500; line-height: 1.8;}
.recentM .recent-title .rt-tit {font-size: 15px; font-weight: 300; color: #908F94;}

/* nextM */
.nextM {margin: 20px 0;}
.nextM h2 {font-size: 20px; font-weight: 600; letter-spacing: -1px; padding-top: 40px; padding-bottom: 14px; border-top: 1px solid #ebebeb;}
.nextM .next {position: relative; display: flex; margin-bottom: 20px;}
.nextM .next:after {
    content: '';
    position: absolute; right: 0; bottom: -8px;
    width: calc(100% - 114px);
    height: 1px;
    background: #ebebeb;
}
.nextM .next .next-img {width: 102px; margin-right: 12px;}
.nextM .next .next-tit {display: flex; flex-direction: column; justify-content: center;}
.nextM .next .next-tit .nt-stit {font-size: 12px; font-weight: 600; line-height: 1.2; color: #DA5E7C;}
.nextM .next .next-tit .nt-tit {font-size: 16px; font-weight: 600; margin-bottom: 4px;}
.nextM .next .next-tit .nt-desc {
    font-size: 13px; font-weight: 300; line-height: 1.2; color: #a1a1a1; letter-spacing: 0.5px;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}



/* mediaquery */
@media (max-width: 1020px){
    .container {width: 100%;}
}








